@import '../_shared/index',
'../_shared/common';
@mixin media-screen-block($scale-factor: 1) {
    section {
        font-size: 1em*$scale-factor;
    }
}

@include media-screen-block();
section {
    background-color: $BODY_BACKGROUND_COLOR;
    padding: 0.5em 1em;
}

#filters-and-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &>div {
        min-width: 35%;
        margin: 0.3em 0em;
        width: fit-content
    }
}

#summary-table {
    padding-left: 0.5em;
}

div.block-description {
    margin-top: 0.6em;
    &>p {
        font-size: 0.65em;
        font-style: oblique;
        margin: 0 1em;
        &:not(:first-of-type) {
            padding-left: 2em;
        }
    }
}

#catalogue-list {
    font-family: sans-serif;
    margin: auto;
    overflow: auto;
}

#catalogue-list-table {
    overflow: auto;
    padding: 0.5em 1px;
    margin: auto;
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
    #filters-and-stats {
        // display: block;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}