@import '../common';
table.stats-filter-table {
    margin: 1em 3em;
    border-bottom: solid 3px black;
    border-collapse: collapse;
    box-shadow: 2px 2px 9px 6px grey;
    & .check-button {
        min-width: 20px;
        height: 13px;
        cursor: pointer;
    }
    &>thead {
        font-family: $FONT_HEADER;
        text-align: center;
        background-color: rgb(44, 95, 95);
        color: white;
        & th:not(:first-child) {
            border-left: solid 1px lightgrey;
        }
        & th[colspan] {
            font-size: 0.75em;
            border-bottom: solid 1px black;
            padding: 0.5em;
        }
        & th>div {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.1em;
        }
        & td {
            border-bottom: solid 1px black;
            font-size: 0.6em;
            padding: 0.6em 0.5em;
        }
    }
    & tbody {
        & th {
            font-family: $FONT_HEADER;
            font-size: 0.75em;
            text-align: left;
            padding: 0.5em;
            color: black;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            white-space: nowrap;
            &>div {
                vertical-align: middle;
                margin: 0 0.25em;
            }
        }
        & td {
            font-family: $FONT_DATA;
            font-size: 0.8em;
            text-align: center;
        }
    }
    & td.sub-column-1:not(:first-child) {
        border-left: solid 1px lightgrey;
    }
    & tbody tr:nth-child(odd),
    & tfoot {
        background-color: white;
    }
    & tbody tr:nth-child(even) {
        background-color: rgb(238, 238, 238);
    }
    & tbody td.only-logged-in,
    & tfoot td.only-logged-in {
        font-weight: bold;
        color: darkgreen;
    }
    & tbody td:not(.sub-column-1):not(.only-logged-in),
    & tfoot td:not(.sub-column-1):not(.only-logged-in) {
        color: darkred;
    }
    & tbody td.sub-column-1,
    & tfoot td.sub-column-1 {
        color: black;
    }
    & tfoot {
        & th {
            font-family: $FONT_HEADER;
            text-align: right;
            padding: 0.6em 1em;
            font-size: 0.8em;
        }
        & td {
            font-family: $FONT_DATA;
            text-align: center;
            padding: 0.6em;
            font-size: 0.9em;
            font-weight: bold;
        }
    }
    &>thead .disabled-stats-cell-vert,
    &>tbody div.disabled-stats-cell {
        filter: opacity(50%);
    }
    &>tbody td.disabled-stats-cell-vert,
    &>tfoot td.disabled-stats-cell-vert,
    &>tbody td.disabled-stats-cell {
        filter: blur(1px) opacity(40%);
    }
}

@mixin common-resizable($resize-factor) {
    &>thead {
        & th[colspan] {
            font-size: 0.75em * $resize-factor;
        }
        & td {
            font-size: 0.6em * $resize-factor;
        }
    }
    & tbody {
        & th {
            font-size: 0.75em * $resize-factor;
        }
        & td {
            font-size: 0.8em * $resize-factor;
        }
    }
    & tfoot {
        & th {
            font-size: 0.8em * $resize-factor;
        }
        & td {
            font-size: 0.9em * $resize-factor;
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    table.stats-filter-table {
        margin: 1em 1em;
        @include common-resizable($WIDTH_FACTOR_BIG_TABLET);
    }
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    table.stats-filter-table {
        @include common-resizable($WIDTH_FACTOR_SMALL_TABLET);
    }
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    table.stats-filter-table {
        margin: 1em * $HEIGHT_FACTOR_BIG_PHONE 1em * $HEIGHT_FACTOR_BIG_PHONE;
        & .check-button {
            width: 16px;
            height: 12px;
        }
        @include common-resizable($HEIGHT_FACTOR_BIG_PHONE);
    }
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    table.stats-filter-table {
        margin: 1em * $WIDTH_FACTOR_BIG_PHONE 1em * $WIDTH_FACTOR_BIG_PHONE;
        & .check-button {
            width: 13px;
            height: 10px;
        }
        @include common-resizable($WIDTH_FACTOR_BIG_PHONE);
    }
}