@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
#years-filters {
  padding: 1em 0;
}

#cont-img {
  border-radius: 10px;
  padding: 14px 14px 10px 14px;
}

#cont-img > img {
  width: 80px;
  height: 80px;
}

#year-filter {
  border-radius: 10px;
}

#year-filter > div {
  margin-bottom: 0.3em;
}

#years-filters {
  background: -webkit-gradient(linear, left bottom, left top, from(#dbdbdd), color-stop(74%, #edf1f4));
  background: linear-gradient(0deg, #dbdbdd 0%, #edf1f4 74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#cont-img {
  margin-right: 1em;
  border: solid 1px darkgray;
  -webkit-box-shadow: 1px 1px 3px 0px gray inset;
          box-shadow: 1px 1px 3px 0px gray inset;
}

#year-filter {
  margin-left: 1em;
  border: solid 1px darkgray;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 3px 0px gray inset;
          box-shadow: 1px 1px 3px 0px gray inset;
}

@media screen and (max-width: 1000px) {
  #years-filters {
    padding: 0.9em 0;
  }
  #cont-img {
    border-radius: 9px;
    padding: 12.6px 12.6px 9px 12.6px;
  }
  #cont-img > img {
    width: 64.8px;
    height: 64.8px;
  }
  #year-filter {
    border-radius: 9px;
  }
  #year-filter > div {
    margin-bottom: 0.27em;
  }
  #cont-img {
    margin: 0.5em;
  }
}

@media screen and (max-width: 800px) {
  #years-filters {
    padding: 0.85em 0;
  }
  #cont-img {
    border-radius: 8.5px;
    padding: 11.9px 11.9px 8.5px 11.9px;
  }
  #cont-img > img {
    width: 57.8px;
    height: 57.8px;
  }
  #year-filter {
    border-radius: 8.5px;
  }
  #year-filter > div {
    margin-bottom: 0.255em;
  }
  #cont-img {
    margin-left: 5em;
    margin-right: 1em;
  }
  #year-filter {
    margin-right: 5em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 600px) {
  #years-filters {
    padding: 0.75em 0;
  }
  #cont-img {
    border-radius: 7.5px;
    padding: 10.5px 10.5px 7.5px 10.5px;
  }
  #cont-img > img {
    width: 45px;
    height: 45px;
  }
  #year-filter {
    border-radius: 7.5px;
  }
  #year-filter > div {
    margin-bottom: 0.225em;
  }
  #cont-img {
    margin-left: 2em;
  }
  #year-filter {
    margin-right: 2em;
  }
}

@media screen and (max-width: 400px) {
  #years-filters {
    padding: 0.7em 0;
  }
  #cont-img {
    border-radius: 7px;
    padding: 9.8px 9.8px 7px 9.8px;
  }
  #cont-img > img {
    width: 39.2px;
    height: 39.2px;
  }
  #year-filter {
    border-radius: 7px;
  }
  #year-filter > div {
    margin-bottom: 0.21em;
  }
  #cont-img {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #year-filter {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
/*# sourceMappingURL=years-filters.css.map */