@import '../_shared/common';
@mixin media-screen-block($scale-factor: 1) {
    #years-filters {
        padding: 1em*$scale-factor 0;
    }
    #cont-img {
        border-radius: 10px*$scale-factor;
        padding: 14px*$scale-factor 14px*$scale-factor 10px*$scale-factor 14px*$scale-factor;
        &>img {
            width: 80px*$scale-factor*$scale-factor;
            height: 80px*$scale-factor*$scale-factor;
        }
    }
    #year-filter {
        border-radius: 10px*$scale-factor;
        &>div {
            margin-bottom: 0.3em * $scale-factor;
        }
    }
}

@include media-screen-block();
#years-filters {
    background: linear-gradient(0deg, #dbdbdd 0%, #edf1f4 74%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

#cont-img {
    margin-right: 1em;
    border: solid 1px darkgray;
    box-shadow: 1px 1px 3px 0px gray inset;
}

#year-filter {
    margin-left: 1em;
    border: solid 1px darkgray;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 0px gray inset;
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
    #cont-img {
        margin: 0.5em;
    }
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
    #cont-img {
        margin-left: 5em;
        margin-right: 1em;
    }
    #year-filter {
        margin-right: 5em;
        margin-left: 1em;
    }
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
    #cont-img {
        margin-left: 2em;
    }
    #year-filter {
        margin-right: 2em;
    }
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($WIDTH_FACTOR_BIG_PHONE);
    #cont-img {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    #year-filter {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}