# exclude external node modules
node_modules/*

# exclude certificates folder
cert/*

# exclude logs directory
logs/*

# exclude local executables
*.bat

# exclude visual studio code files
.vscode/*

# exclude package-lock.json
package-lock.json
