#details-main-div {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1em;
}

#details-main-div > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#details-main-div > div:first-of-type > * {
  margin-right: 1em;
}

#details-main-div > div:first-of-type > img {
  display: none;
  width: 1.6em;
  margin-bottom: 2px;
}

#details-main-div > div:first-of-type > div.clickable-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 2px;
}

#details-main-div > div:first-of-type > div.clickable-button > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#details-main-div > div:first-of-type > div.clickable-button > div > img {
  width: 0.8em;
}

#details-main-div > div:first-of-type > div.clickable-button > div > p {
  font-family: Lucida sans, sans-serif;
  color: #323296;
  font-weight: bold;
  font-size: 0.7em;
  margin: 0.5em 0em;
  padding-left: 0.8em;
}

.series-info {
  padding: 0.5em 1em;
}

.series-info > p {
  font-family: Lucida sans, sans-serif;
  font-size: 0.7em;
  margin: 0.2em 0;
  font-weight: bold;
}

.series-info > p > span {
  font-weight: normal;
}

.banknote-title {
  border-bottom: 2px solid darkgreen;
}

.banknote-title > p {
  margin-bottom: 0.2em;
  color: darkgreen;
  font-size: 1em;
}

.banknote-title > img {
  width: 1.6em;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.banknote-title > img:hover {
  border: 0.5px solid lightgray;
}

.banknote-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banknote-info > div:first-of-type {
  max-width: 50%;
}

.banknote-info p {
  font-family: Lucida sans, sans-serif;
  font-size: 0.7em;
  margin: 0.4em 1em;
  font-weight: bold;
}

.banknote-info p > span {
  font-weight: normal;
}

.variants-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.variant-box {
  border: 0.5px solid grey;
  background: white;
  width: 400px;
  margin-right: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.variant-box > p {
  color: darkblue;
  font-size: 0.8em;
}

.variant-box > img {
  width: 1.4em;
  position: absolute;
  right: 5px;
  top: 4px;
  cursor: pointer;
}

.variant-box > img:hover {
  border: 0.5px solid lightgray;
}

.variant-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.4em;
}

.variant-pictures > img:not(:last-of-type) {
  border: 0.5px solid lightgrey;
  width: 35%;
}

.variant-pictures > img:last-of-type {
  border: 0.5px solid lightgrey;
  width: 25%;
}

.variant-pictures > img[src=""] {
  display: none;
}

.variant-info {
  border: 0.5px solid lightgrey;
  padding: 0.5em 1em;
}

.variant-info > p {
  font-size: 0.7em;
  font-weight: bold;
  margin: 0.2em 0;
}

.variant-info > p > span {
  font-weight: normal;
}

.items-info {
  margin-top: 0.1em;
  border: 0.5px solid lightgrey;
  padding: 0.5em 1.8em 0.6em 1em;
  position: relative;
}

.items-info > table {
  border-collapse: collapse;
}

.items-info > table thead {
  font-size: 0.7em;
  font-weight: bold;
}

.items-info > table thead > tr:last-of-type {
  text-align: left;
  font-size: 0.9em;
}

.items-info > table thead > tr:last-of-type > th {
  padding: 0.2em 0.4em;
}

.items-info > table tbody {
  font-size: 0.65em;
  font-weight: normal;
}

.items-info > table tbody > tr > td {
  padding: 0.4em 0.4em;
  min-width: 3em;
}

.items-info > img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1em;
  position: absolute;
  right: 5px;
  top: 6px;
  cursor: pointer;
}

.items-info > img:hover {
  border: 0.5px solid lightgray;
}

.item-add-box {
  margin-top: 0.1em;
  padding: 0.5em 0;
}

.item-add-box > div {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-add-box > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-add-box > div > div > img {
  width: 0.6em;
}

.item-add-box > div > div > p {
  font-family: Lucida sans, sans-serif;
  color: black;
  font-size: 0.6em;
  margin: 0.8em 0em;
  padding-left: 0.8em;
}

.variant-add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  padding: 0.8em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.variant-add-box > div {
  background: white;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.variant-add-box > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.variant-add-box > div > div > img {
  width: 0.8em;
}

.variant-add-box > div > div > p {
  font-family: Lucida sans, sans-serif;
  color: #323296;
  font-weight: bold;
  font-size: 0.6em;
  margin: 0.8em 0em;
  padding-left: 0.8em;
}

#denomination-add-box {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.5px solid darkgreen;
}

#denomination-add-box > div {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

#denomination-add-box > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#denomination-add-box > div > div > img {
  width: 1.2em;
}

#denomination-add-box > div > div > p {
  font-family: Lucida sans, sans-serif;
  color: darkgreen;
  font-weight: bold;
  font-size: 0.8em;
  margin: 1.2em 0em;
  padding-left: 0.9em;
}

.sqr-button {
  background-color: white;
  padding: 3px;
}

.clickable-button {
  border: 0.5px solid lightgrey;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.clickable-button:hover {
  cursor: pointer;
  border-color: gray;
}

.clickable-button:active {
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.section-title {
  font-family: Lucida sans, sans-serif;
  font-weight: bold;
  position: relative;
}

.section-title > p {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.UNC-grade {
  background-color: green;
  color: whitesmoke;
}

.XF-grade {
  background-color: greenyellow;
  color: #464646;
}

.VF-grade {
  background-color: yellow;
  color: #464646;
}

.F-grade {
  background-color: orange;
  color: #464646;
}

.VG-grade {
  background-color: #785000;
  color: lightgrey;
}

.G-grade {
  background-color: #5a5000;
  color: lightgrey;
}

.P-grade {
  background-color: #3c3200;
  color: lightgrey;
}

.REP-grade {
  background-color: lightgray;
  color: #464646;
}
/*# sourceMappingURL=details.css.map */