@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
p.not-logged-in {
  display: none;
  color: #0a320a;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #dcfadc;
  margin-top: 0.4em;
}

p.not-logged-in > a:link {
  text-shadow: 2px 2px 2px #dcfadc;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-position: under;
}

p.not-logged-in > a:visited {
  color: #0a320a;
}

p.not-logged-in > a:hover {
  color: black;
}

p.not-logged-in > a:active {
  color: black;
}

#currencies-filters {
  padding: 1em 0;
}

#cont-img {
  padding: 14px 14px 10px 14px;
}

#cont-img > img {
  width: 80px;
  height: 80px;
}

#year-filter > div {
  margin-bottom: 0.3em;
}

#currencies-filters {
  background: -webkit-gradient(linear, left bottom, left top, from(#dbdbdd), color-stop(74%, #edf1f4));
  background: linear-gradient(0deg, #dbdbdd 0%, #edf1f4 74%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#cont-img {
  border: solid 1px darkgray;
  -webkit-box-shadow: 1px 1px 3px 0px gray inset;
          box-shadow: 1px 1px 3px 0px gray inset;
}

#year-filter {
  border: solid 1px darkgray;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 3px 0px gray inset;
          box-shadow: 1px 1px 3px 0px gray inset;
}

@media screen and (max-width: 1000px) {
  #currencies-filters {
    padding: 0.9em 0;
  }
  #cont-img {
    padding: 12.6px 12.6px 9px 12.6px;
  }
  #cont-img > img {
    width: 64.8px;
    height: 64.8px;
  }
  #year-filter > div {
    margin-bottom: 0.27em;
  }
  #cont-img {
    margin: 0.5em;
  }
}

@media screen and (max-width: 800px) {
  #currencies-filters {
    padding: 0.85em 0;
  }
  #cont-img {
    padding: 11.9px 11.9px 8.5px 11.9px;
  }
  #cont-img > img {
    width: 57.8px;
    height: 57.8px;
  }
  #year-filter > div {
    margin-bottom: 0.255em;
  }
  #currencies-filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #currencies-filters > div:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #cont-img {
    margin-left: 5em;
    margin-right: 1em;
  }
  #year-filter {
    margin-right: 5em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 600px) {
  #currencies-filters {
    padding: 0.75em 0;
  }
  #cont-img {
    padding: 10.5px 10.5px 7.5px 10.5px;
  }
  #cont-img > img {
    width: 45px;
    height: 45px;
  }
  #year-filter > div {
    margin-bottom: 0.225em;
  }
  #cont-img {
    margin-left: 2em;
  }
  #year-filter {
    margin-right: 2em;
  }
}

@media screen and (max-width: 400px) {
  #currencies-filters {
    padding: 0.7em 0;
  }
  #cont-img {
    padding: 9.8px 9.8px 7px 9.8px;
  }
  #cont-img > img {
    width: 39.2px;
    height: 39.2px;
  }
  #year-filter > div {
    margin-bottom: 0.21em;
  }
  #cont-img {
    margin-left: 1em;
  }
  #year-filter {
    margin-right: 1em;
  }
}
/*# sourceMappingURL=currencies_filters.css.map */