@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
p.not-logged-in {
  display: none;
  color: #0a320a;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #dcfadc;
  margin-top: 0.4em;
}

#timeline-main-div {
  max-width: 100%;
  overflow-x: auto;
}

#timeline-main-div > p {
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
}

#timeline-main-div > div:first-of-type {
  margin-bottom: 3em;
}

.timeline-table {
  margin: 0.7em;
  border-right: solid 1px darkgrey;
  border-bottom: solid 1px darkgrey;
  border-collapse: collapse;
}

.timeline-table > thead > tr:nth-child(1) > th {
  width: 12em;
  font-family: Lucida sans, sans-serif;
  font-size: 0.75em;
  border-top: solid 1px darkgrey;
  border-left: solid 1px darkgrey;
  text-align: center;
  padding: 0.4em 0.4em;
  overflow: hidden;
  cursor: pointer;
}

.timeline-table > thead > tr:nth-child(1) > th:nth-of-type(odd) {
  color: #3c3c3c;
  background-color: #eae8e8;
}

.timeline-table > thead > tr:nth-child(1) > th:nth-of-type(even) {
  color: black;
  background-color: #dadade;
}

.timeline-table > thead > tr:nth-child(1) > th > a:link {
  color: black;
  text-decoration: none;
}

.timeline-table > thead > tr:nth-child(1) > th > a:visited {
  color: black;
  text-decoration: none;
}

.timeline-table > thead > tr:nth-child(1) > th > a:hover {
  color: #853333;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-position: under;
}

.timeline-table > thead > tr:nth-child(1) > th > a:active {
  color: #853333;
  text-decoration: none;
}

.timeline-table > thead > tr:nth-child(2) > th {
  font-family: Lucida sans, sans-serif;
  font-size: 0.8em;
  border-top: solid 0.5px darkgrey;
  border-left: solid 1px darkgrey;
  border-right: solid 1px darkgrey;
  text-align: center;
  background-color: #dae6de;
  color: #323232;
}

.timeline-table > thead > tr:nth-child(3) {
  white-space: nowrap;
}

.timeline-table > thead > tr:nth-child(3) > td {
  background-color: #dae6de;
  color: #323232;
  font-family: Lucida sans, sans-serif;
  padding: 0.3em 1em;
}

.timeline-table > thead > tr:nth-child(3) > td:first-of-type {
  border: solid 1px darkgrey;
  font-size: 0.7em;
  font-weight: bold;
}

.timeline-table > thead > tr:nth-child(3) > td:not(:first-of-type) {
  font-size: 0.6em;
  border-bottom: solid 1px darkgrey;
  text-align: center;
}

.timeline-table > thead > tr:nth-child(3) > td:last-of-type {
  border-right: solid 1px darkgrey;
}

.timeline-table > tbody th {
  font-family: Lucida sans, sans-serif;
  font-size: 0.8em;
  color: #326432;
  text-align: center;
  border-left: solid 1px darkgray;
  border-right: solid 1px darkgray;
  border-bottom: dotted 1px grey;
  padding: 0.2em 0.8em;
  background-color: white;
}

.timeline-table > tbody > tr > td {
  font-family: Lucida sans, sans-serif;
  font-size: 0.6em;
  text-align: center;
  padding: 0.3em 0.6em;
  white-space: nowrap;
  cursor: pointer;
}

.timeline-table > tbody > tr > td:last-of-type {
  border-right: solid 1px darkgray;
}

.timeline-table > tbody > tr > td.highlight {
  text-decoration: underline;
  text-shadow: 1px 1px 1px grey;
}

.timeline-table > tbody .last-subrow {
  border-bottom: dotted 1px grey;
}

.timeline-table > tbody *.no-grade {
  background-color: #fcfcf8;
}

.timeline-table .subcol-1 {
  border-left: solid 1px darkgray;
}
/*# sourceMappingURL=timeline.css.map */