@import '../forms';
#upsert-variant-dialog {
    @include frame-and-headers;
    &>form {
        &>div {
            display: flex;
            flex-direction: column;
            & p {
                @include field-title;
            }
            & input {
                @include input-field;
            }
            & label {
                font-size: 0.9em;
            }
            & select {
                @include select-field;
            }
            & textarea {
                @include textarea-field;
            }
            &.inline-fields {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            &.flag-fields {
                margin-top: 1em;
                display: flex;
                max-width: 22em;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                &>div {
                    margin-right: 2em;
                    margin-bottom: 0.4em;
                }
            }
        }
        &>div:last-of-type {
            @include form-buttons-div;
        }
    }
}