@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap');
$FONT_TITLE: "Girassol",
"Times New Roman";
$FONT_MENU: "Berkshire Swash",
"cursive";
$FONT_HEADER: "Source Sans Pro",
"sans-serif";
$FONT_DATA: "sans-serif";
$WIDTH_BIG_TABLET: 1000px;
$WIDTH_FACTOR_BIG_TABLET: 0.9;
$WIDTH_SMALL_TABLET: 800px;
$WIDTH_FACTOR_SMALL_TABLET: 0.85;
$HEIGHT_BIG_PHONE: 600px;
$HEIGHT_FACTOR_BIG_PHONE: 0.75;
$WIDTH_BIG_PHONE: 400px;
$WIDTH_FACTOR_BIG_PHONE: 0.7;
//
@mixin no-user-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

@mixin tap-nohighlight {
    -webkit-tap-highlight-color: transparent;
}