.UNC-grade {
    background-color: green;
    color: whitesmoke;
}

.XF-grade {
    background-color: greenyellow;
    color: rgb(70, 70, 70);
}

.VF-grade {
    background-color: yellow;
    color: rgb(70, 70, 70);
}

.F-grade {
    background-color: orange;
    color: rgb(70, 70, 70);
}

.VG-grade {
    background-color: rgb(120, 80, 0);
    ;
    color: lightgrey;
}

.G-grade {
    background-color: rgb(90, 80, 0);
    ;
    color: lightgrey;
}

.P-grade {
    background-color: rgb(60, 50, 0);
    ;
    color: lightgrey;
}

.REP-grade {
    background-color: lightgray;
    color: rgb(70, 70, 70);
}