@import '../_shared/common';
#denominations-filters {
    background: linear-gradient(0deg, #dbdbdd 0%, #edf1f4 74%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding: 1em 0;
}

#cont-img {
    margin-right: 1em;
    border: solid 1px darkgray;
    border-radius: 10px;
    padding: 14px 14px 10px 14px;
    box-shadow: 1px 1px 3px 0px gray inset;
    &>img {
        width: 80px;
        height: 80px;
    }
}

#year-filter {
    margin-left: 1em;
    border: solid 1px darkgray;
    border-radius: 10px;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-shadow: 1px 1px 3px 0px gray inset;
    &>p {
        font-family: $FONT_HEADER;
        font-size: 0.9em;
        text-shadow: 1.5px 1.5px 3px grey;
        text-align: center;
        margin: 0.4em 0;
    }
    &>div {
        display: flex;
        justify-content: space-around;
        &>p {
            width: 3.5em;
            text-align: right;
            font-family: $FONT_HEADER;
            font-size: 0.8em;
            align-self: center;
            margin: 0;
        }
        &>img {
            width: 2.5em;
            align-self: center;
        }
        &>input {
            align-self: center;
            font-family: $FONT_DATA;
            font-size: 1.1em;
            width: 4em;
            color: darkblue;
            text-align: left;
            padding-top: 0.1em;
            padding-left: 0.4em;
            box-shadow: 4px 4px 8px grey;
            outline: none;
            border: none;
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    #denominations-filters {
        padding: 1em * $WIDTH_FACTOR_BIG_TABLET 0;
    }
    #cont-img {
        margin: 1em * $WIDTH_FACTOR_BIG_TABLET;
        padding: 14px * $WIDTH_FACTOR_BIG_TABLET 14px * $WIDTH_FACTOR_BIG_TABLET 10px 14px * $WIDTH_FACTOR_BIG_TABLET;
        &>img {
            width: 80px * $WIDTH_FACTOR_BIG_TABLET;
            height: 80px * $WIDTH_FACTOR_BIG_TABLET;
        }
    }
    #year-filter {
        margin: 1em * $WIDTH_FACTOR_BIG_TABLET;
        padding: 0.5em 1em * $WIDTH_FACTOR_BIG_TABLET;
        &>p {
            font-size: 0.9em * $WIDTH_FACTOR_BIG_TABLET;
        }
        &>div {
            &>p {
                width: 3.5em * $WIDTH_FACTOR_BIG_TABLET;
                font-size: 0.8em * $WIDTH_FACTOR_BIG_TABLET;
            }
            &>img {
                width: 2.5em * $WIDTH_FACTOR_BIG_TABLET;
            }
            &>input {
                font-size: 1.1em * $WIDTH_FACTOR_BIG_TABLET;
                width: 4em * $WIDTH_FACTOR_BIG_TABLET;
            }
        }
    }
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    #cont-img {
        margin: 1em * $WIDTH_FACTOR_SMALL_TABLET;
    }
    #year-filter {
        margin: 1em * $WIDTH_FACTOR_SMALL_TABLET;
    }
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    #denominations-filters {
        padding: 1em * $HEIGHT_FACTOR_BIG_PHONE 0;
    }
    #cont-img {
        padding: 14px * $HEIGHT_FACTOR_BIG_PHONE 14px * $HEIGHT_FACTOR_BIG_PHONE 10px * $HEIGHT_FACTOR_BIG_PHONE 14px * $HEIGHT_FACTOR_BIG_PHONE;
        &>img {
            width: 80px * $HEIGHT_FACTOR_BIG_PHONE;
            height: 80px * $HEIGHT_FACTOR_BIG_PHONE;
        }
    }
    #year-filter {
        &>p {
            font-size: 0.9em * $HEIGHT_FACTOR_BIG_PHONE;
        }
        &>div {
            &>p {
                width: 3.5em * $HEIGHT_FACTOR_BIG_PHONE;
                font-size: 0.8em * $HEIGHT_FACTOR_BIG_PHONE;
            }
            &>img {
                width: 2.5em * $HEIGHT_FACTOR_BIG_PHONE;
            }
            &>input {
                font-size: 1.1em * $HEIGHT_FACTOR_BIG_PHONE;
                width: 4.2em;
            }
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    #denominations-filters {
        padding: 1em * $WIDTH_FACTOR_BIG_PHONE 0;
    }
    #cont-img {
        padding: 14px * $WIDTH_FACTOR_BIG_PHONE 14px * $WIDTH_FACTOR_BIG_PHONE 10px * $WIDTH_FACTOR_BIG_PHONE 14px * $WIDTH_FACTOR_BIG_PHONE;
        &>img {
            width: 80px * $WIDTH_FACTOR_BIG_PHONE;
            height: 80px * $WIDTH_FACTOR_BIG_PHONE;
        }
    }
    #year-filter {
        &>p {
            font-size: 0.9em * $WIDTH_FACTOR_BIG_PHONE;
        }
        &>div {
            &>p {
                width: 3.5em * $WIDTH_FACTOR_BIG_PHONE;
                font-size: 0.8em * $WIDTH_FACTOR_BIG_PHONE;
            }
            &>img {
                width: 2.5em * $WIDTH_FACTOR_BIG_PHONE;
            }
            &>input {
                font-size: 1.1em * $WIDTH_FACTOR_BIG_PHONE;
            }
        }
    }
}