@import '../_shared/common',
'../_shared/index',
'../_shared/grades';
@mixin media-screen-block($scale-factor: 1) {
    section {
        font-size: 1em*$scale-factor;
    }
}

@include media-screen-block();
section {
    font-family: sans-serif;
    margin: 0;
    background-color: $BODY_BACKGROUND_COLOR;
}

#collection-filters {
    padding: 0.5em 0;
    width: fit-content;
    min-width: 25%;
    margin: auto;
}

#duplicates-filter {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    &>div {
        margin-bottom: 0.5em;
        font-size: 0.9em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
    & p:first-of-type {
        margin: 0 3em 0 0.5em;
    }
    & p {
        font-size: 1em;
        font-family: New Roman, serif;
    }
}

.list-section {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>div {
        margin-bottom: 0.5em;
        min-width: 70%;
        width: fit-content;
    }
}

#list-table {
    overflow: auto;
    padding: 0em 1px;
}

.notes-list-table {
    margin: 0.7em;
    border-bottom: solid 1px darkgrey;
    border-collapse: collapse;
    &>thead>tr>th {
        min-width: 5em;
        font-family: Lucida sans, sans-serif;
        font-size: 0.75em;
        border-top: solid 1px darkgrey;
        border-bottom: solid 1px black;
        background-color: rgb(218, 230, 222);
        color: rgb(50, 50, 50);
        text-align: center;
        vertical-align: bottom;
        padding: 0.6em 1em;
        white-space: nowrap;
    }
    &>tbody {
        &>tr>th {
            font-family: Lucida sans, sans-serif;
            font-size: 0.6em;
            border-bottom: dotted 1px grey;
            padding: 0.6em 0.8em;
            white-space: nowrap;
            text-align: left;
            &>a:link {
                font-weight: bold;
                text-decoration: none;
                color: inherit;
            }
            &>a:visited {
                color: inherit;
            }
            &>a:hover {
                text-decoration: none;
                border-bottom: dotted 0.75px black;
            }
            &>a:active {
                color: darkred;
            }
        }
        &>tr>td {
            max-width: 40em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Lucida sans, sans-serif;
            font-size: 0.6em;
            border-bottom: dotted 1px grey;
            padding: 0.6em 0.8em;
            white-space: nowrap;
            &:not(.text) {
                text-align: center;
            }
        }
        & .aggregated {
            background-color: whitesmoke;
            color: gray;
            font-weight: bold;
            font-size: 0.6em;
            padding: 0.4em 0;
            text-align: right;
            border-bottom: solid 1px black;
            border-top: solid 2px black;
            border-left: none;
        }
    }
}

.expenses-list-table {
    margin: auto;
    border-bottom: solid 1px darkgrey;
    border-collapse: collapse;
    &>thead>tr {
        font-size: 0.8em;
    }
    &>thead>tr>th {
        min-width: 5em;
        font-family: Lucida sans, sans-serif;
        border-top: solid 1px darkgrey;
        border-bottom: solid 1px black;
        background-color: rgb(218, 230, 222);
        color: rgb(50, 50, 50);
        text-align: center;
        vertical-align: bottom;
        padding: 0.6em 1em;
        white-space: nowrap;
    }
    &>tbody {
        background-color: rgb(252, 248, 233);
        font-family: Lucida sans, sans-serif;
        font-size: 0.75em;
        & th {
            padding: 0.5em 0.8em;
            &.text {
                text-align: left;
                padding-left: 2em;
            }
        }
        & td {
            padding: 0.25em 0.8em;
            text-align: center;
        }
        &>tr.first-subrow {
            border-top: dotted 1px grey;
        }
    }
}

.is-sortable {
    margin-right: 0.3em;
    border-bottom: 1px dotted transparent;
}

.is-sortable:hover {
    cursor: pointer;
    border-bottom-color: black;
}

.is-sortable.sorting-column {
    border-bottom-color: black;
}

.sort-div {
    display: inline-block;
    vertical-align: middle;
}

.sort-desc,
.sort-asc {
    border: 0.5em solid rgba(0, 0, 0, 0.15);
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    cursor: pointer;
}

.sort-desc {
    border-bottom: 0em solid transparent;
}

.sort-asc {
    margin-top: -0.3em;
    margin-bottom: 0.2em;
    border-top: 0px solid transparent;
}

.sort-asc.sort-selection {
    border-bottom-color: black;
}

.sort-desc.sort-selection {
    border-top-color: black;
}

p.not-logged-in {
    font-size: 1.1em;
    display: none;
    color: rgb(10, 50, 10);
    text-align: center;
    margin: 0;
    &>a {
        &:link {
            text-decoration: underline dotted;
            text-underline-position: under;
        }
        &:visited {
            color: rgb(10, 50, 10);
        }
        &:hover {
            color: black;
        }
        &:active {
            color: black;
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
    p.not-logged-in {
        text-shadow: 1px 1px 2px rgb(149, 172, 149);
        &>a {
            &:link {
                text-shadow: 1px 1px 2px rgb(149, 172, 149);
            }
        }
    }
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}