@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  overflow: auto;
  min-width: 300px;
  background: black;
}

.UNC-grade {
  background-color: green;
  color: whitesmoke;
}

.XF-grade {
  background-color: greenyellow;
  color: #464646;
}

.VF-grade {
  background-color: yellow;
  color: #464646;
}

.F-grade {
  background-color: orange;
  color: #464646;
}

.VG-grade {
  background-color: #785000;
  color: lightgrey;
}

.G-grade {
  background-color: #5a5000;
  color: lightgrey;
}

.P-grade {
  background-color: #3c3200;
  color: lightgrey;
}

.REP-grade {
  background-color: lightgray;
  color: #464646;
}

.group {
  padding: 10px 12px;
  margin: 4px;
}

#collection-filters {
  padding: 0.5em 0;
}

#duplicates-filter {
  margin-top: 1em;
}

#duplicates-filter > div {
  margin-bottom: 0.5em;
}

#duplicates-filter p:first-of-type {
  margin: 0 3em 0 0.5em;
}

#applied-filters {
  font-size: 0.7em;
}

div.block-title {
  margin-bottom: 0.5em;
}

div.block-title p {
  font-size: 0.9em;
}

div.block-title p.show-hide > span {
  font-size: 0.9em;
  margin: 0 0.5em;
}

#list-table {
  padding: 0.5em 1px;
}

p.not-logged-in {
  font-size: 1.1em;
}

section {
  font-family: sans-serif;
  margin: 0;
  background-color: #eeefed;
}

.group {
  border: solid 0.5px lightgray;
  -webkit-box-shadow: 1px 1px 2px lightgrey;
          box-shadow: 1px 1px 2px lightgrey;
  background-color: white;
}

div.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px black;
}

div.block-title p {
  margin: 0;
}

div.block-title p span.disabled {
  opacity: 0.3;
  cursor: default;
}

div.block-title p span:not(.disabled) {
  cursor: pointer;
}

div.block-title p:first-of-type {
  font-weight: bold;
}

div.block-title p:last-of-type > span {
  font-style: italic;
  display: inline-block;
}

#collection-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#collection-filters > div {
  min-width: 25%;
}

#duplicates-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#duplicates-filter > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#duplicates-filter p {
  font-family: New Roman, serif;
}

.list-section {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-section > div {
  min-width: 70%;
  display: inline-block;
}

#applied-filters {
  color: #216b5f;
  font-style: italic;
  max-width: 66%;
}

#applied-filters > span {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#applied-filters > span:not(:empty) {
  padding-top: 0.4em;
  padding-left: 1em;
}

#list-table {
  overflow: auto;
}

.notes-list-table {
  margin: 0.7em;
  border-bottom: solid 1px darkgrey;
  border-collapse: collapse;
}

.notes-list-table > thead > tr > th {
  min-width: 5em;
  font-family: Lucida sans, sans-serif;
  font-size: 0.75em;
  border-top: solid 1px darkgrey;
  border-bottom: solid 1px black;
  background-color: #dae6de;
  color: #323232;
  text-align: center;
  vertical-align: bottom;
  padding: 0.6em 1em;
  white-space: nowrap;
}

.notes-list-table > tbody > tr > th {
  font-family: Lucida sans, sans-serif;
  font-size: 0.6em;
  border-bottom: dotted 1px grey;
  padding: 0.6em 0.8em;
  white-space: nowrap;
  text-align: left;
}

.notes-list-table > tbody > tr > th > a:link {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.notes-list-table > tbody > tr > th > a:visited {
  color: inherit;
}

.notes-list-table > tbody > tr > th > a:hover {
  text-decoration: none;
  border-bottom: dotted 0.75px black;
}

.notes-list-table > tbody > tr > th > a:active {
  color: darkred;
}

.notes-list-table > tbody > tr > td {
  max-width: 40em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Lucida sans, sans-serif;
  font-size: 0.6em;
  border-bottom: dotted 1px grey;
  padding: 0.6em 0.8em;
  white-space: nowrap;
}

.notes-list-table > tbody > tr > td:not(.text) {
  text-align: center;
}

.notes-list-table > tbody .aggregated {
  background-color: whitesmoke;
  color: gray;
  font-weight: bold;
  font-size: 0.6em;
  padding: 0.4em 0;
  text-align: right;
  border-bottom: solid 1px black;
  border-top: solid 2px black;
  border-left: none;
}

.is-sortable {
  margin-right: 0.3em;
  border-bottom: 1px dotted transparent;
}

.is-sortable:hover {
  cursor: pointer;
  border-bottom-color: black;
}

.is-sortable.sorting-column {
  border-bottom-color: black;
}

.sort-div {
  display: inline-block;
  vertical-align: middle;
}

.sort-desc,
.sort-asc {
  border: 0.5em solid rgba(0, 0, 0, 0.15);
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  cursor: pointer;
}

.sort-desc {
  border-bottom: 0em solid transparent;
}

.sort-asc {
  margin-top: -0.3em;
  margin-bottom: 0.2em;
  border-top: 0px solid transparent;
}

.sort-asc.sort-selection {
  border-bottom-color: black;
}

.sort-desc.sort-selection {
  border-top-color: black;
}

p.not-logged-in {
  display: none;
  color: #0a320a;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

p.not-logged-in > a:link {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-position: under;
}

p.not-logged-in > a:visited {
  color: #0a320a;
}

p.not-logged-in > a:hover {
  color: black;
}

p.not-logged-in > a:active {
  color: black;
}

@media screen and (max-width: 1000px) {
  .group {
    padding: 9px 10.8px;
    margin: 3.6px;
  }
  #collection-filters {
    padding: 0.45em 0;
  }
  #duplicates-filter {
    margin-top: 0.9em;
  }
  #duplicates-filter > div {
    margin-bottom: 0.45em;
  }
  #duplicates-filter p:first-of-type {
    margin: 0 2.7em 0 0.45em;
  }
  #applied-filters {
    font-size: 0.63em;
  }
  div.block-title {
    margin-bottom: 0.45em;
  }
  div.block-title p {
    font-size: 0.81em;
  }
  div.block-title p.show-hide > span {
    font-size: 0.9em;
    margin: 0 0.5em;
  }
  #list-table {
    padding: 0.45em 1px;
  }
  p.not-logged-in {
    font-size: 0.99em;
  }
  p.not-logged-in {
    text-shadow: 1px 1px 2px #95ac95;
  }
  p.not-logged-in > a:link {
    text-shadow: 1px 1px 2px #95ac95;
  }
}

@media screen and (max-width: 800px) {
  .group {
    padding: 8.5px 10.2px;
    margin: 3.4px;
  }
  #collection-filters {
    padding: 0.425em 0;
  }
  #duplicates-filter {
    margin-top: 0.85em;
  }
  #duplicates-filter > div {
    margin-bottom: 0.425em;
  }
  #duplicates-filter p:first-of-type {
    margin: 0 2.55em 0 0.425em;
  }
  #applied-filters {
    font-size: 0.595em;
  }
  div.block-title {
    margin-bottom: 0.425em;
  }
  div.block-title p {
    font-size: 0.765em;
  }
  div.block-title p.show-hide > span {
    font-size: 0.9em;
    margin: 0 0.5em;
  }
  #list-table {
    padding: 0.425em 1px;
  }
  p.not-logged-in {
    font-size: 0.935em;
  }
}

@media screen and (max-width: 600px) {
  .group {
    padding: 7.5px 9px;
    margin: 3px;
  }
  #collection-filters {
    padding: 0.375em 0;
  }
  #duplicates-filter {
    margin-top: 0.75em;
  }
  #duplicates-filter > div {
    margin-bottom: 0.375em;
  }
  #duplicates-filter p:first-of-type {
    margin: 0 2.25em 0 0.375em;
  }
  #applied-filters {
    font-size: 0.525em;
  }
  div.block-title {
    margin-bottom: 0.375em;
  }
  div.block-title p {
    font-size: 0.675em;
  }
  div.block-title p.show-hide > span {
    font-size: 0.9em;
    margin: 0 0.5em;
  }
  #list-table {
    padding: 0.375em 1px;
  }
  p.not-logged-in {
    font-size: 0.825em;
  }
}

@media screen and (max-width: 400px) {
  .group {
    padding: 7.5px 9px;
    margin: 3px;
  }
  #collection-filters {
    padding: 0.375em 0;
  }
  #duplicates-filter {
    margin-top: 0.75em;
  }
  #duplicates-filter > div {
    margin-bottom: 0.375em;
  }
  #duplicates-filter p:first-of-type {
    margin: 0 2.25em 0 0.375em;
  }
  #applied-filters {
    font-size: 0.525em;
  }
  div.block-title {
    margin-bottom: 0.375em;
  }
  div.block-title p {
    font-size: 0.675em;
  }
  div.block-title p.show-hide > span {
    font-size: 0.9em;
    margin: 0 0.5em;
  }
  #list-table {
    padding: 0.375em 1px;
  }
  p.not-logged-in {
    font-size: 0.825em;
  }
}
/*# sourceMappingURL=collection.css.map */