@import '../_shared/common';
.filters-section {
    background: linear-gradient(0deg, rgb(225, 240, 240), rgb(60, 179, 179));
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;
    & div.filters-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &:first-of-type {
            border-right: 1px solid gray;
            box-shadow: 1px 0px white;
        }
    }
    & div.filter-box {
        min-width: 15%;
        padding: 0 1em;
        &:not(:first-of-type) {
            border-left: 1px solid white;
            box-shadow: -1px 0px gray;
        }
        &>p {
            margin-top: 0;
            font-size: 1em;
            font-weight: bold;
            color: black;
        }
        &>div {
            margin-left: 1em;
        }
    }
}

hr {
    margin: 0;
}

#results-section {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    &>p {
        font-family: sans-serif;
        font-size: 1.2em;
        font-style: bold;
        margin: 2em;
        &:nth-of-type(2) {
            color: darkgreen;
            display: none;
        }
        &:last-of-type {
            color: darkred;
            display: none;
        }
    }
    &.success>p {
        display: none;
    }
    &.not-found>p {
        &:not(:nth-of-type(2)) {
            display: none;
        }
        &:nth-of-type(2) {
            display: block;
        }
        display: none;
    }
    &.too-many-results>p {
        &:not(:last-of-type) {
            display: none;
        }
        &:last-of-type {
            display: block;
        }
    }
    &>div {
        // This is used to have a visible shadow of the table! 
        border: solid 0.5em rgba(0, 0, 0, 0);
        display: none;
    }
    &.success>div {
        display: block;
    }
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    .filters-section {
        padding: 1em * $WIDTH_FACTOR_BIG_TABLET 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & div.filters-row {
            margin-bottom: 1.2em;
            &:first-of-type {
                border-right: none;
                box-shadow: none;
            }
        }
        & div.filter-box {
            width: 18em;
        }
    }
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    .filters-section {
        padding: 0.6em 0;
        & div.filters-row {
            align-self: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            &:last-of-type {
                margin-bottom: 1em;
            }
        }
        & div.filter-box {
            margin-top: 1em;
            margin-left: 2em;
            padding: 0 0.5em;
            &>p {
                font-size: 0.9em;
                margin-bottom: 0;
            }
            &>div {
                margin-left: 0.8em;
            }
            &:not(:first-of-type) {
                border-left: none;
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    #results-section {
        align-items: flex-start;
    }
}