@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
.filters-section {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1f0f0), to(#3cb3b3));
  background: linear-gradient(0deg, #e1f0f0, #3cb3b3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

.filters-section div.filters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters-section div.filters-row:first-of-type {
  border-right: 1px solid gray;
  -webkit-box-shadow: 1px 0px white;
          box-shadow: 1px 0px white;
}

.filters-section div.filter-box {
  min-width: 15%;
  padding: 0 1em;
}

.filters-section div.filter-box:not(:first-of-type) {
  border-left: 1px solid white;
  -webkit-box-shadow: -1px 0px gray;
          box-shadow: -1px 0px gray;
}

.filters-section div.filter-box > p {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.filters-section div.filter-box > div {
  margin-left: 1em;
}

hr {
  margin: 0;
}

#results-section {
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

#results-section > p {
  font-family: sans-serif;
  font-size: 1.2em;
  font-style: bold;
  margin: 2em;
}

#results-section > p:nth-of-type(2) {
  color: darkgreen;
  display: none;
}

#results-section > p:last-of-type {
  color: darkred;
  display: none;
}

#results-section.success > p {
  display: none;
}

#results-section.not-found > p {
  display: none;
}

#results-section.not-found > p:not(:nth-of-type(2)) {
  display: none;
}

#results-section.not-found > p:nth-of-type(2) {
  display: block;
}

#results-section.too-many-results > p:not(:last-of-type) {
  display: none;
}

#results-section.too-many-results > p:last-of-type {
  display: block;
}

#results-section > div {
  border: solid 0.5em rgba(0, 0, 0, 0);
  display: none;
}

#results-section.success > div {
  display: block;
}

p.not-logged-in {
  display: none;
  color: #0a320a;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #dcfadc;
  margin-top: 0.4em;
}

p.not-logged-in > a:link {
  text-shadow: 2px 2px 2px #dcfadc;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-position: under;
}

p.not-logged-in > a:visited {
  color: #0a320a;
}

p.not-logged-in > a:hover {
  color: black;
}

p.not-logged-in > a:active {
  color: black;
}

@media screen and (max-width: 1000px) {
  .filters-section {
    padding: 0.9em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filters-section div.filters-row {
    margin-bottom: 1.2em;
  }
  .filters-section div.filters-row:first-of-type {
    border-right: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .filters-section div.filter-box {
    width: 18em;
  }
}

@media screen and (max-width: 600px) {
  .filters-section {
    padding: 0.6em 0;
  }
  .filters-section div.filters-row {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .filters-section div.filters-row:last-of-type {
    margin-bottom: 1em;
  }
  .filters-section div.filter-box {
    margin-top: 1em;
    margin-left: 2em;
    padding: 0 0.5em;
  }
  .filters-section div.filter-box > p {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  .filters-section div.filter-box > div {
    margin-left: 0.8em;
  }
  .filters-section div.filter-box:not(:first-of-type) {
    border-left: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 400px) {
  #results-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=search.css.map */