@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
p.not-logged-in {
  display: none;
  color: #0a320a;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #dcfadc;
  margin-top: 0.4em;
}

table.list-table {
  border-collapse: collapse;
  -webkit-box-shadow: 2px 2px 9px 6px grey;
          box-shadow: 2px 2px 9px 6px grey;
  margin: 12px;
}

table.list-table thead {
  font-family: "Source Sans Pro", "sans-serif";
  text-align: center;
  color: whitesmoke;
}

table.list-table thead th {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  font-size: 0.7em;
  padding: 0.8em 0.5em;
  background: -webkit-gradient(linear, left bottom, left top, from(#964141), to(#6e3737));
  background: linear-gradient(0deg, #964141, #6e3737);
  border-bottom: solid 1px black;
  white-space: nowrap;
}

table.list-table thead td {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  font-size: 0.6em;
  background: #964141;
  padding: 0.6em 0.4em;
  border-bottom: solid 1px black;
  white-space: nowrap;
}

table.list-table thead th.th-stats {
  border-left: solid 1px #e6e6e6;
}

table.list-table thead td:nth-of-type(odd) {
  border-left: solid 1px #e6e6e6;
}

table.list-table tbody th {
  font-family: "Source Sans Pro", "sans-serif";
  white-space: nowrap;
}

table.list-table tbody td {
  font-family: "sans-serif";
  white-space: nowrap;
}

table.list-table tbody th,
table.list-table tbody td {
  font-size: 0.7em;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 0.5em;
}

table.list-table tbody th.name {
  text-align: left;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

table.list-table tbody th.name > a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

table.list-table tbody th.name > a:visited {
  color: black;
}

table.list-table tbody th.name > a:hover {
  color: black;
  text-decoration: none;
  border-bottom: dotted 0.75px black;
}

table.list-table tbody th.name > a:active {
  color: brown;
}

table.list-table tbody th > img {
  height: 1.2em;
}

table.list-table tbody th.title {
  text-align: left;
  color: black;
  font-weight: bold;
}

table.list-table tbody .text {
  text-align: left;
}

table.list-table tbody > tr:nth-child(even) {
  background-color: #e8e6e6;
}

table.list-table tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

table.list-table tbody > tr > td:nth-of-type(odd) {
  border-left: solid 1px lightgrey;
  color: black;
}

table.list-table tbody > tr > td:nth-of-type(even),
table.list-table tbody > tr > td:last-child,
table.list-table tfoot > tr > td:nth-of-type(even),
table.list-table tfoot > tr > td:last-child {
  color: darkred;
}

table.list-table tfoot > tr > th {
  font-family: "Source Sans Pro", "sans-serif";
  text-align: right;
  font-size: 0.7em;
  padding: 0.5em 0.5em;
}

table.list-table tfoot > tr > td {
  font-family: "sans-serif";
  font-size: 0.8em;
  text-align: center;
  padding: 0.5em 0.5em;
}

table.list-table tfoot > tr > td:first-of-type {
  border-left: solid 1px lightgrey;
}

.is-sortable {
  margin-right: 0.3em;
  border-bottom: 1px dotted transparent;
}

.is-sortable:hover {
  cursor: pointer;
  border-bottom-color: whitesmoke;
}

.is-sortable.sorting-column {
  border-bottom-color: whitesmoke;
}

.sort-div {
  display: inline-block;
  vertical-align: middle;
}

.sort-desc,
.sort-asc {
  border: 0.5em solid rgba(230, 220, 220, 0.25);
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  cursor: pointer;
}

.sort-desc {
  border-bottom: 0em solid transparent;
}

.sort-asc {
  margin-top: -0.3em;
  margin-bottom: 0.2em;
  border-top: 0px solid transparent;
}

.sort-asc.sort-selection {
  border-bottom-color: whitesmoke;
}

.sort-desc.sort-selection {
  border-top-color: whitesmoke;
}

@media screen and (max-width: 1000px) {
  table.list-table thead th {
    font-size: 0.63em;
    padding: 0.8em 0.5em;
  }
  table.list-table thead td {
    font-size: 0.54em;
    padding: 0.6em 0.4em;
  }
  table.list-table tbody th,
  table.list-table tbody td {
    font-size: 0.63em;
    padding: 0.5em 0.5em;
  }
  table.list-table tbody th > img {
    height: 1.08em;
  }
  table.list-table tfoot > tr > th {
    font-size: 0.63em;
    padding: 0.5em 0.5em;
  }
  table.list-table tfoot > tr > td {
    font-size: 0.72em;
    padding: 0.5em 0.5em;
  }
}

@media screen and (max-width: 800px) {
  table.list-table thead th {
    font-size: 0.595em;
    padding: 0.8em 0.5em;
  }
  table.list-table thead td {
    font-size: 0.51em;
    padding: 0.6em 0.4em;
  }
  table.list-table tbody th,
  table.list-table tbody td {
    font-size: 0.595em;
    padding: 0.5em 0.5em;
  }
  table.list-table tbody th > img {
    height: 1.02em;
  }
  table.list-table tfoot > tr > th {
    font-size: 0.595em;
    padding: 0.5em 0.5em;
  }
  table.list-table tfoot > tr > td {
    font-size: 0.68em;
    padding: 0.5em 0.5em;
  }
}

@media screen and (max-width: 600px) {
  table.list-table thead th {
    font-size: 0.525em;
    padding: 0.8em 0.5em;
  }
  table.list-table thead td {
    font-size: 0.45em;
    padding: 0.6em 0.4em;
  }
  table.list-table tbody th,
  table.list-table tbody td {
    font-size: 0.525em;
    padding: 0.5em 0.5em;
  }
  table.list-table tbody th > img {
    height: 0.9em;
  }
  table.list-table tfoot > tr > th {
    font-size: 0.525em;
    padding: 0.5em 0.5em;
  }
  table.list-table tfoot > tr > td {
    font-size: 0.6em;
    padding: 0.5em 0.5em;
  }
}
/*# sourceMappingURL=list-table.css.map */