.select-filter {
  display: inline-block;
  position: relative;
}

.select-filter:focus {
  outline: none;
}

.select-filter > p {
  margin: 0.4em 0.2em;
  font-family: Times New Roman, serif;
  font-size: 0.95em;
  color: black;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.select-filter > p > span {
  padding: 0 0.2em;
}

.select-filter.selected > p {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  font-weight: bold;
}

.select-filter.input-focus > p {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.select-filter.input-focus > p > span {
  border-bottom: 0.5px dotted gray;
}

.select-filter > div.input-box {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  display: inline-block;
  border: 0.5px solid black;
  background-color: #eeece4;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.select-filter > div.input-box > span {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  color: transparent;
  padding: 0.1em 0.3em;
  margin: 0.1em 0 0 0.4em;
  border: 0.5px dotted transparent;
  display: inline-block;
  vertical-align: text-top;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.select-filter > div.input-box > input {
  cursor: default;
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.4em 0;
  min-width: 4em;
  background-color: transparent;
}

.select-filter > div.input-box > input:focus {
  outline: none;
}

.select-filter > div.input-box > div.drop-down-arrow {
  display: inline-block;
  margin: 0 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.6em solid lightgrey;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  width: 0.6em;
  vertical-align: middle;
}

.select-filter > div.input-box > div.drop-down-arrow:hover {
  border-top-color: #003e00;
  cursor: pointer;
}

.select-filter.input-focus > div.input-box {
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.select-filter.selected > div.input-box {
  background-color: white;
}

.select-filter.selected > div.input-box > span {
  color: #979797;
  border-color: lightgray;
}

.select-filter.selected > div.input-box > span:hover {
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  position: relative;
  top: -1px;
  left: -1px;
  cursor: pointer;
}

.select-filter > div.options-list {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: absolute;
  z-index: 1;
  display: none;
  margin: 1px;
  width: 98%;
  left: 0.5%;
}

.select-filter > div.options-list > div {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  padding: 0.3em 1em;
  font-size: 0.8em;
  font-family: sans-serif;
  border-bottom: 0.5px dotted lightgrey;
  cursor: pointer;
  background-color: #fdfdfd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.select-filter > div.options-list > div:hover {
  background-color: black;
  color: white;
}

.select-filter > div.options-list > div.selected {
  font-weight: bold;
}

.select-filter > div.options-list > div.selected::before {
  content: "\00bb \20 \20";
}
/*# sourceMappingURL=SelectFilter.css.map */