@import '../../_shared/common';
#summary-main-div {
    max-width: 100%;
    overflow-x: auto;
}

.summary-table {
    margin: 0.7em;
    border-right: solid 1px darkgrey;
    border-bottom: solid 1px darkgrey;
    border-collapse: collapse;
    &>thead>tr:nth-child(1)>th {
        width: 12em;
        font-family: Lucida sans, sans-serif;
        font-size: 0.75em;
        border-top: none;
        border-left: solid 1px darkgrey;
        color: rgb(50, 50, 50);
        text-align: center;
        padding: 0.4em 0.4em;
        overflow: hidden;
        &:nth-of-type(odd) {
            background-color: rgb(234, 232, 232)
        }
        &:nth-of-type(even) {
            background-color: rgb(218, 218, 222);
        }
    }
    &>thead>tr:nth-child(2)>th {
        font-family: Lucida sans, sans-serif;
        font-size: 0.8em;
        border-top: solid 0.5px darkgrey;
        border-left: solid 1px darkgrey;
        border-right: solid 1px darkgrey;
        color: rgb(50, 100, 50);
        text-align: center;
        background-color: white;
    }
    &>thead>tr:nth-child(3) {
        white-space: nowrap;
        &>td:first-of-type {
            border-bottom: solid 1px darkgrey;
        }
        &>td:not(:first-of-type) {
            font-family: Lucida sans, sans-serif;
            font-size: 0.6em;
            padding: 0.3em 1em;
            color: rgb(50, 100, 50);
            border-bottom: solid 1px darkgrey;
            text-align: center;
            background-color: white;
        }
        &>td:last-of-type {
            border-right: solid 1px darkgrey;
        }
    }
    &>tbody {
        & th {
            font-family: Lucida sans, sans-serif;
            font-size: 0.8em;
            color: rgb(50, 100, 50);
            text-align: center;
            border-left: solid 1px darkgray;
            border-right: solid 1px darkgray;
            padding: 0.2em 0.8em;
            background-color: white;
        }
        &>tr>td {
            font-family: Lucida sans, sans-serif;
            font-size: 0.6em;
            text-align: center;
            padding: 0.3em 0.6em;
            white-space: nowrap;
            cursor: pointer;
            &:last-of-type {
                border-right: solid 1px darkgray;
            }
        }
        &>tr>td.highlight {
            text-decoration: underline;
            text-shadow: 1px 1px 1px grey;
        }
        & .last-subrow {
            border-bottom: dotted 1px grey;
        }
        & *.no-grade {
            background-color: rgb(252, 252, 248);
        }
    }
    & .subcol-1 {
        border-left: solid 1px darkgray;
    }
}