@import '../../_shared/common';
#summary-main-div {
    min-width: 20em;
}

.series-detail-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    &>.col-expand-contract {
        background-color: rgb(240, 245, 240);
        border: solid 0.5px black;
        min-width: 1.6em;
        min-height: 1.7em;
        max-height: 1.7em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        box-shadow: 3px 3px 3px grey;
        margin-right: 1px;
        &>img {
            width: 1em;
            margin: auto;
        }
    }
    &>div:nth-of-type(2) {
        background-color: rgb(240, 245, 240);
        border: solid 0.5px black;
        overflow: auto;
        padding: 0.24em 0.5em;
        box-shadow: 3px 3px 3px grey;
        min-height: 1.7em;
        width: 95%;
        &>h4 {
            font-family: Times New Roman, serif;
            font-size: 1em;
            margin: 0;
        }
    }
}

.summary-table {
    margin: 0.7em;
    border-right: solid 1px darkgrey;
    border-bottom: solid 1px darkgrey;
    border-collapse: collapse;
    &>thead>tr:first-child>th {
        font-family: Lucida sans, sans-serif;
        font-size: 0.8em;
        border-top: solid 1px darkgrey;
        border-left: solid 1px darkgrey;
        color: rgb(50, 100, 50);
        text-align: center;
        background-color: whitesmoke;
    }
    &>thead>tr:nth-child(2) {
        white-space: nowrap;
        &>td:first-of-type {
            border-bottom: solid 1px darkgrey;
            border-right: solid 1px darkgrey;
        }
        &>td:not(:first-of-type) {
            font-family: Lucida sans, sans-serif;
            font-size: 0.6em;
            padding: 0.3em 1em;
            color: rgb(50, 100, 50);
            border-bottom: solid 1px darkgrey;
            text-align: center;
            background-color: whitesmoke;
        }
    }
    &>tbody {
        & th {
            font-family: Lucida sans, sans-serif;
            font-size: 0.8em;
            color: rgb(50, 100, 50);
            text-align: center;
            border-left: solid 1px darkgray;
            border-right: solid 1px darkgray;
            padding: 0.2em 0.6em;
            background-color: whitesmoke;
        }
        &>tr>td {
            font-family: Lucida sans, sans-serif;
            font-size: 0.6em;
            text-align: center;
            padding: 0.3em 0.6em;
            white-space: nowrap;
            cursor: pointer;
        }
        &>tr>td.highlight {
            text-decoration: underline;
            text-shadow: 1px 1px 1px grey;
        }
        & .last-subrow {
            border-bottom: dotted 1px grey;
        }
    }
    & .subcol-1 {
        border-left: solid 1px darkgray;
    }
}