@import '../forms';
#upsert-variant-dialog {
    @include frame-and-headers;
    &>form {
        &>div {
            display: flex;
            flex-direction: column;
            & p {
                @include field-title;
            }
            & input {
                @include input-field;
            }
            & label {
                font-size: 0.9em;
            }
            & select {
                @include select-field;
            }
            & textarea {
                @include textarea-field;
            }
            &.flag-fields {
                margin-top: 1em;
                display: flex;
                max-width: 22em;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                &>div {
                    margin-right: 1.7em;
                    margin-bottom: 0.2em;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    & span {
                        margin-left: 0.2em;
                    }
                    & input:checked~span {
                        color: rgb(0, 0, 172);
                        text-shadow: rgb(153, 153, 153) 1px 1px 2px;
                    }
                }
            }
        }
        & div.inline-fields {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        & div.fields-group {
            &>p {
                margin-bottom: 0.5em;
            }
            &>div {
                margin-left: 0.5em;
                padding-left: 1em;
                border-left: solid 0.5px gray;
                & p {
                    margin-top: 0em;
                }
            }
        }
        &>div:last-of-type {
            @include form-buttons-div;
        }
    }
}