@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  overflow: auto;
  min-width: 300px;
  background: black;
}

p.not-logged-in {
  display: none;
  color: #0a320a;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #dcfadc;
  margin-top: 0.4em;
}

#intro-section h1 {
  font-size: 1.8em;
}

#intro-section h4 {
  font-size: 0.9em;
}

.user-input-section h2 {
  font-size: 1.1em;
}

.user-input-section h4 {
  font-weight: normal;
  font-size: 0.9em;
}

.user-input-section form > div {
  width: 18em;
}

.user-input-section form > div > p {
  font-size: 0.935em;
}

.user-input-section form > div .links {
  font-size: 0.99em;
}

.user-input-section form input,
.user-input-section form button {
  font-size: 1.1em;
}

.user-input-section form input[type="submit"],
.user-input-section form button {
  width: 7.7em;
  -webkit-box-shadow: 3px 3px 5px #325032;
          box-shadow: 3px 3px 5px #325032;
}

.user-input-section form img.input-img {
  width: 1.9em;
  margin-top: 0.4em;
  margin-left: 0.8em;
}

.user-input-section form img.info {
  margin-left: 1em*scale-factor;
  width: 1.4em;
}

.user-input-section > form[name=login-form] > div {
  width: 16em;
}

#intro-section {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1f0f0), to(#a0dcdc));
  background: linear-gradient(0deg, #e1f0f0, #a0dcdc);
  padding: 1em;
}

#intro-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: auto;
}

#intro-section > div h1 {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: bold;
  color: #215a64;
  text-shadow: 2px 3px 4px #787878;
  padding: 0em 3em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#intro-section > div h3,
#intro-section > div h4 {
  margin: 0 1em;
  font-family: "Source Sans Pro", "sans-serif";
  color: #21323c;
  text-shadow: 2px 3px 4px #787878;
}

.user-input-section {
  margin: auto;
  padding: 1em 0;
  background-color: #5ab4b4;
}

.user-input-section h2,
.user-input-section h4 {
  margin: 0 1.5em 1.5em 1.5em;
  text-align: center;
}

.user-input-section h2 {
  margin-bottom: 0.5em;
  color: white;
}

.user-input-section h4 {
  color: whitesmoke;
}

.user-input-section > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-input-section > form > div {
  margin: auto;
}

.user-input-section > form > div > p.input-info {
  color: white;
  margin: 0.3em 0.1em;
}

.user-input-section > form > div > p.input-info > span {
  font-style: italic;
  color: whitesmoke;
}

.user-input-section > form img.input-img {
  position: absolute;
}

.user-input-section > form input {
  display: inline-block;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: bold;
  margin-bottom: 1em;
}

.user-input-section > form input[type="text"],
.user-input-section > form input[type="password"],
.user-input-section > form input[type="email"] {
  height: 2.5em;
  width: 100%;
  padding-left: 3em;
}

.user-input-section > form input[type="text"]:focus,
.user-input-section > form input[type="password"]:focus,
.user-input-section > form input[type="email"]:focus {
  outline: solid 1px darkorange;
}

.user-input-section > form .links {
  font-family: "sans-serif";
  text-decoration: underline;
  cursor: pointer;
}

.user-input-section > form .button-style {
  border-radius: 2em;
  border: none;
  margin-left: 0.8em;
  margin-right: 0.8em;
  height: 2em;
  cursor: pointer;
}

.user-input-section > form .button-style:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 2px;
  left: 2px;
}

.user-input-section > form .button-style:focus {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  outline: none;
}

.user-input-section > form .buttons-div {
  margin-top: 0.5em;
}

.user-input-section > form .buttons-div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-input-section > form button {
  background: #8b5c5c;
  color: whitesmoke;
  margin-bottom: 1em;
}

.user-input-section > form input[type="submit"] {
  background: #92d050;
  color: white;
}

.user-input-section > form img.info {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 0.4em;
  display: none;
}

.user-input-section > form[name=login-form] input[type="text"],
.user-input-section > form[name=login-form] input[type="password"] {
  width: 100%;
}

.user-input-section > form[name=login-form] .links {
  font-family: "sans-serif";
  color: whitesmoke;
  text-decoration: underline;
  margin-bottom: 1em;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  #intro-section h1 {
    font-size: 1.62em;
  }
  #intro-section h4 {
    font-size: 0.81em;
  }
  .user-input-section h2 {
    font-size: 0.99em;
  }
  .user-input-section h4 {
    font-weight: normal;
    font-size: 0.81em;
  }
  .user-input-section form > div {
    width: 16.2em;
  }
  .user-input-section form > div > p {
    font-size: 0.8415em;
  }
  .user-input-section form > div .links {
    font-size: 0.891em;
  }
  .user-input-section form input,
  .user-input-section form button {
    font-size: 0.99em;
  }
  .user-input-section form input[type="submit"],
  .user-input-section form button {
    width: 7em;
    -webkit-box-shadow: 2.7px 2.7px 4.5px #325032;
            box-shadow: 2.7px 2.7px 4.5px #325032;
  }
  .user-input-section form img.input-img {
    width: 1.71em;
    margin-top: 0.36em;
    margin-left: 0.72em;
  }
  .user-input-section form img.info {
    margin-left: 1em*scale-factor;
    width: 1.26em;
  }
  .user-input-section > form[name=login-form] > div {
    width: 14.4em;
  }
}

@media screen and (max-width: 800px) {
  #intro-section h1 {
    font-size: 1.53em;
  }
  #intro-section h4 {
    font-size: 0.765em;
  }
  .user-input-section h2 {
    font-size: 0.935em;
  }
  .user-input-section h4 {
    font-weight: normal;
    font-size: 0.765em;
  }
  .user-input-section form > div {
    width: 15.3em;
  }
  .user-input-section form > div > p {
    font-size: 0.79475em;
  }
  .user-input-section form > div .links {
    font-size: 0.8415em;
  }
  .user-input-section form input,
  .user-input-section form button {
    font-size: 0.935em;
  }
  .user-input-section form input[type="submit"],
  .user-input-section form button {
    width: 6.65em;
    -webkit-box-shadow: 2.55px 2.55px 4.25px #325032;
            box-shadow: 2.55px 2.55px 4.25px #325032;
  }
  .user-input-section form img.input-img {
    width: 1.615em;
    margin-top: 0.34em;
    margin-left: 0.68em;
  }
  .user-input-section form img.info {
    margin-left: 1em*scale-factor;
    width: 1.19em;
  }
  .user-input-section > form[name=login-form] > div {
    width: 13.6em;
  }
  #intro-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #intro-section h1 {
    padding: 0;
    margin-top: 0;
  }
  .user-input-section > form img.input-img {
    margin-top: 0.3em;
  }
}

@media screen and (max-width: 600px) {
  #intro-section h1 {
    font-size: 1.35em;
  }
  #intro-section h4 {
    font-size: 0.675em;
  }
  .user-input-section h2 {
    font-size: 0.825em;
  }
  .user-input-section h4 {
    font-weight: normal;
    font-size: 0.675em;
  }
  .user-input-section form > div {
    width: 13.5em;
  }
  .user-input-section form > div > p {
    font-size: 0.70125em;
  }
  .user-input-section form > div .links {
    font-size: 0.7425em;
  }
  .user-input-section form input,
  .user-input-section form button {
    font-size: 0.825em;
  }
  .user-input-section form input[type="submit"],
  .user-input-section form button {
    width: 5.95em;
    -webkit-box-shadow: 2.25px 2.25px 3.75px #325032;
            box-shadow: 2.25px 2.25px 3.75px #325032;
  }
  .user-input-section form img.input-img {
    width: 1.425em;
    margin-top: 0.3em;
    margin-left: 0.6em;
  }
  .user-input-section form img.info {
    margin-left: 1em*scale-factor;
    width: 1.05em;
  }
  .user-input-section > form[name=login-form] > div {
    width: 12em;
  }
  #intro-section img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #intro-section h1 {
    font-size: 1.26em;
  }
  #intro-section h4 {
    font-size: 0.63em;
  }
  .user-input-section h2 {
    font-size: 0.77em;
  }
  .user-input-section h4 {
    font-weight: normal;
    font-size: 0.63em;
  }
  .user-input-section form > div {
    width: 12.6em;
  }
  .user-input-section form > div > p {
    font-size: 0.6545em;
  }
  .user-input-section form > div .links {
    font-size: 0.693em;
  }
  .user-input-section form input,
  .user-input-section form button {
    font-size: 0.77em;
  }
  .user-input-section form input[type="submit"],
  .user-input-section form button {
    width: 5.6em;
    -webkit-box-shadow: 2.1px 2.1px 3.5px #325032;
            box-shadow: 2.1px 2.1px 3.5px #325032;
  }
  .user-input-section form img.input-img {
    width: 1.33em;
    margin-top: 0.28em;
    margin-left: 0.56em;
  }
  .user-input-section form img.info {
    margin-left: 1em*scale-factor;
    width: 0.98em;
  }
  .user-input-section > form[name=login-form] > div {
    width: 11.2em;
  }
  #intro-section h4:last-of-type {
    display: none;
  }
  .user-input-section > form img.info {
    display: inline-block;
  }
  .user-input-section > form p.input-info {
    display: none;
  }
  .user-input-section > form > div {
    width: 15.4em;
  }
  .user-input-section > form > div > p.input-info {
    max-width: 85%;
  }
  .user-input-section > form .buttons-div > div {
    width: 85%;
  }
  .user-input-section > form input[type="text"],
  .user-input-section > form input[type="password"],
  .user-input-section > form input[type="email"] {
    width: 85%;
  }
}
/*# sourceMappingURL=index.css.map */