@import './_shared/index',
'./_shared/common';
//
$font-size-title: 2em;
//
$font-input: Arial;
$font-size-input: 1.1em;
//
@mixin media-screen-block($scale-factor: 1) {
    #intro-section {
        & h1 {
            font-size: $font-size-title * $scale-factor;
        }
    }
    .user-input-section {
        & form {
            &>div {
                width: 18em * $scale-factor;
                &>p {
                    font-size: $font-size-input * 0.85 * $scale-factor;
                }
                & .links {
                    font-size: $font-size-input * 0.9 * $scale-factor;
                }
            }
            & input,
            & button {
                font-size: $font-size-input*$scale-factor;
            }
            & input[type="submit"],
            button {
                width: 7em*(0.1 + $scale-factor);
                box-shadow: 3px*$scale-factor 3px*$scale-factor 5px*$scale-factor rgb(50, 80, 50);
            }
            & img.input-img {
                width: 1.9em*$scale-factor;
                margin-top: 0.4em*$scale-factor;
                margin-left: 0.8em*$scale-factor;
            }
            & img.info {
                margin-left: 1em*scale-factor;
                width: 1.4em*$scale-factor;
            }
        }
        &>form[name=login-form]>div {
            width: 16em * $scale-factor;
        }
    }
}

@include media-screen-block();
#intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, rgb(225, 240, 240), rgb(160, 220, 220));
    height: auto;
    & h1 {
        font-family: $FONT_HEADER;
        font-weight: bold;
        color: rgb(33, 90, 100);
        text-shadow: 2px 3px 4px rgb(120, 120, 120);
        padding: 1em 3em;
        transition: 0.4s;
    }
}

.user-input-section {
    margin: auto;
    padding: 2em 0;
    background-color: rgb(90, 180, 180);
    &>form {
        display: flex;
        flex-direction: column;
        &>div {
            margin: auto;
            &>p.input-info {
                color: white;
                margin: 0.3em 0.1em;
                &>span {
                    font-style: italic;
                    color: whitesmoke;
                }
            }
        }
        & img.input-img {
            position: absolute;
        }
        & input {
            display: inline-block;
            font-family: $FONT_HEADER;
            font-weight: bold;
            margin-bottom: 1em;
        }
        & input[type="text"],
        & input[type="password"],
        & input[type="email"] {
            height: 2.5em;
            width: 100%;
            padding-left: 3em;
            &:focus {
                outline: solid 1px darkorange;
            }
        }
        & .links {
            font-family: $FONT_DATA;
            text-decoration: underline;
            cursor: pointer;
        }
        & .button-style {
            border-radius: 2em;
            border: none;
            margin-left: 0.8em;
            margin-right: 0.8em;
            height: 2em;
            cursor: pointer;
            &:active {
                box-shadow: none;
                position: relative;
                top: 2px;
                left: 2px;
            }
            &:focus {
                text-decoration: underline;
                text-decoration-style: dotted;
                outline: none;
            }
        }
        & .buttons-div {
            margin-top: 0.5em;
            &>div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
        & button {
            background: rgb(139, 92, 92);
            color: whitesmoke;
            margin-bottom: 1em;
        }
        & input[type="submit"] {
            background: rgb(146, 208, 80);
            color: white;
        }
        & img.info {
            vertical-align: middle;
            cursor: pointer;
            margin-left: 0.4em;
            display: none;
        }
    }
    &>form[name=login-form] {
        & input[type="text"],
        & input[type="password"] {
            width: 100%;
        }
        & .links {
            font-family: $FONT_DATA;
            color: whitesmoke;
            text-decoration: underline;
            margin-bottom: 1em;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
    #intro-section {
        flex-direction: column;
        justify-content: flex-start;
        & h1 {
            padding: 0;
            margin-top: 0;
        }
        & img:last-child {
            display: none;
        }
    }
    .user-input-section>form {
        & img.input-img {
            margin-top: 0.3em;
        }
    }
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
    #intro-section {
        & h1 {
            margin: 1em 0;
        }
        & img:first-child {
            display: none;
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($WIDTH_FACTOR_BIG_PHONE);
    .user-input-section>form {
        & img.info {
            display: inline-block
        }
        ;
        & p.input-info {
            display: none;
        }
        &>div {
            width: 22em * $WIDTH_FACTOR_BIG_PHONE;
            &>p.input-info {
                max-width: 85%;
            }
        }
        & .buttons-div>div {
            width: 85%;
        }
        & input[type="text"],
        & input[type="password"],
        & input[type="email"] {
            width: 85%;
        }
    }
}