@import '../forms';
#upsert-note-dialog {
    @include frame-and-headers;
    &>form {
        &>div {
            display: flex;
            flex-direction: column;
            & p {
                @include field-title;
            }
            & input {
                @include input-field;
            }
            & select {
                @include select-field;
            }
            & textarea {
                @include textarea-field;
            }
            &.inline-fields {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &>div:first-of-type {
                    margin-right: 1em;
                }
            }
            &.fields-group {
                &>p {
                    margin-bottom: 0.2em;
                }
                &>div {
                    margin-left: 0.3em;
                    padding-left: 1em;
                    border-left: solid 0.5px gray;
                    &>p:first-of-type {
                        margin-top: 0.3em;
                    }
                }
            }
        }
        &>div:last-of-type {
            @include form-buttons-div;
        }
    }
}