@import '../common';
$size: 1.1em;
@mixin media-screen-block($scale-factor: 1) {
    div.super-container {
        padding: 0.25em*$scale-factor 0;
        border-bottom: solid 0.5px gray;
    }
    #continents-filter-html-container {
        & p {
            font-size: $size*$scale-factor;
            padding: 0.3em*$scale-factor 1.4em*$scale-factor;
            border-radius: 4px*$scale-factor;
        }
    }
}

@include media-screen-block();
div.super-container {
    background-image: url("img/background.jpg");
    background-size: 500px 50px;
}

#continents-filter-html-container {
    position: relative;
    width: 100%;
    display: flex;
    &>div {
        width: 16.67%;
        display: flex;
        justify-items: center;
        & p {
            @include no-user-select;
            @include tap-nohighlight;
            min-width: 75%;
            white-space: nowrap;
            font-family: $FONT_DATA;
            color: black;
            text-align: center;
            display: inline-block;
            margin: auto;
            cursor: pointer;
            border: solid 0.5px rgba(0, 0, 0, 0);
            &.selectedContinent {
                color: white;
                text-shadow: 2px 2px 2px black;
                background: linear-gradient(45deg, rgb(81, 180, 180), rgb(51, 118, 118));
                box-shadow: 1px 1px 2px inset darkgreen;
                border-color: rgb(20, 20, 20);
            }
            &.deselectedContinent {
                color: rgb(92, 92, 92);
            }
        }
    }
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
    #continents-filter-html-container {
        flex-wrap: wrap;
        &>div {
            width: 33.33%;
        }
    }
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($WIDTH_FACTOR_BIG_PHONE);
    .selectedContinent {
        box-shadow: 1px 1px 1px inset darkgreen;
        text-shadow: 1px 1px 1px black;
    }
}