@import '../../_shared/index',
'../../_shared/common';
@mixin media-screen-block($scale-factor: 1) {
    .group {
        padding: 10px*$scale-factor 12px*$scale-factor;
        margin: 4px*$scale-factor;
    }
    #filters {
        padding: 0.5em*$scale-factor 0;
    }
    #years-filter {
        &>div {
            font-size: 0.9em*$scale-factor;
            margin-right: 1.4em*$scale-factor;
        }
    }
    #list-table {
        padding: 0.5em*$scale-factor 1px;
    }
    #applied-filters {
        font-size: 0.7em*$scale-factor;
    }
    div.block-title {
        margin-bottom: 0.5em*$scale-factor;
        & p {
            font-size: 0.9em*$scale-factor;
        }
        & p.show-hide>span {
            font-size: 0.9em;
            margin: 0 0.5em;
        }
    }
}

@include media-screen-block();
section {
    font-family: sans-serif;
    margin: 0;
    background-color: $BODY_BACKGROUND_COLOR;
}

.group {
    border: solid 0.5px lightgray;
    box-shadow: 1px 1px 2px lightgrey;
    background-color: white;
}

div.block-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px black;
    & p {
        margin: 0;
        & span.disabled {
            opacity: 0.3;
            cursor: default;
        }
        & span:not(.disabled) {
            cursor: pointer;
        }
    }
    & p:first-of-type {
        font-weight: bold;
    }
    & p:last-of-type {
        &>span {
            font-style: italic;
            display: inline-block;
        }
    }
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    &>div {
        min-width: 25%;
    }
}

.list-section {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &>div {
        min-width: 70%;
        display: inline-block;
    }
}

#applied-filters {
    color: rgb(33, 107, 95);
    font-style: italic;
    max-width: 66%;
    &>span {
        display: inline-block;
        white-space: nowrap;
        margin: 0;
        align-self: end;
    }
    &>span:not(:empty) {
        padding-top: 0.4em;
        padding-left: 1em;
    }
}

#list-table {
    overflow: auto;
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}