@import '../../_shared/index',
'../../_shared/common';
@mixin media-screen-block($scale-factor: 1) {
    section {
        font-size: 1em*$scale-factor;
    }
}

@include media-screen-block();
section {
    background-color: $BODY_BACKGROUND_COLOR;
    padding: 0.5em 1em;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &>div {
        min-width: 25%;
    }
}

#years-filter {
    &>div {
        font-size: 0.9em;
        margin-right: 1.4em;
    }
}

#list-card {
    font-family: sans-serif;
    margin: auto;
    overflow: auto;
}

@media screen and (max-width: $WIDTH_BIG_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_BIG_TABLET);
}

@media screen and (max-width: $WIDTH_SMALL_TABLET) {
    @include media-screen-block($WIDTH_FACTOR_SMALL_TABLET);
}

@media screen and (max-width: $HEIGHT_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}

@media screen and (max-width: $WIDTH_BIG_PHONE) {
    @include media-screen-block($HEIGHT_FACTOR_BIG_PHONE);
}