@import '../forms';
#upsert-series-dialog {
    @include frame-and-headers;
    &>form {
        &>div {
            display: flex;
            flex-direction: column;
            & p {
                @include field-title;
            }
            & input {
                @include input-field;
            }
            & select {
                @include select-field;
            }
            & textarea {
                @include textarea-field;
            }
            &.inline-fields {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
        &>div:last-of-type {
            @include form-buttons-div;
        }
    }
}