@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
p.not-logged-in {
  display: none;
  color: #0a320a;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #dcfadc;
  margin-top: 0.4em;
}

#country-header {
  font-family: Lucida sans, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#e1f0f0), to(#a0dcdc));
  background: linear-gradient(0deg, #e1f0f0, #a0dcdc);
  padding: 0.6em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#country-header #continent-div {
  margin-right: 0.5em;
}

#country-header #continent-div > img {
  display: block;
  width: 26px;
  margin: auto;
}

#country-header #continent-div > p {
  font-size: 0.6em;
  text-align: center;
  color: grey;
  margin: 0;
}

#country-header #flag-div > a > img {
  height: 35px;
  width: auto;
  border: solid 0.75px black;
  margin-right: 0.5em;
}

#country-header #country-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#country-header #country-data > a {
  color: black;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px #141432;
  text-decoration: none;
  border-bottom: dotted transparent 0.5px;
  white-space: nowrap;
}

#country-header #country-data > a:link {
  color: black;
}

#country-header #country-data > a:visited {
  color: black;
}

#country-header #country-data > a:hover > span {
  border-bottom: dotted grey 0.75px;
}

#country-header #country-data > a:active {
  color: grey;
}

#currency-header {
  font-family: Lucida sans, sans-serif;
  background: #215968;
  padding: 0.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#currency-header #currency-data {
  margin-right: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#currency-header #currency-data > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#currency-header #currency-data > div:first-of-type > p:not(:first-of-type) {
  font-size: 0.65em;
  color: whitesmoke;
  margin-top: 0;
  margin-bottom: 0.4em;
}

#currency-header #currency-data > div.info {
  font-size: 0.7em;
  color: #c7dcc7;
  display: none;
}

#currency-header #currency-data > div.info a:link {
  color: #d1d7d1;
  font-weight: normal;
}

#currency-header #currency-data > div.info a:visited {
  color: #d1d7d1;
}

#currency-header #currency-data > div.info a:hover {
  color: whitesmoke;
}

#currency-header #currency-data > div > p:first-child {
  margin: 0.5em 0;
  display: inline-block;
}

#currency-header #currency-data > div.related-countries {
  display: none;
}

#currency-header #currency-data > div.related-countries > p {
  margin: 0.5em 0;
  font-size: 0.7em;
  color: whitesmoke;
}

#currency-header #currency-data > div.related-countries img {
  border-radius: 2px;
  width: auto;
  vertical-align: middle;
}

#currency-header #currency-symbol {
  font-size: 1.5em;
  border: solid 0.5px black;
  padding: 0.1em 0.5em;
  background: #638778;
  color: #dce6d2;
}

#currency-header #currency-data .name {
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #281414;
}

#currency-header #currency-data img {
  width: 1.2em;
  height: 1.2em;
  margin-left: 0em;
  vertical-align: super;
  cursor: pointer;
}

#currency-header #currency-relatives {
  color: whitesmoke;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#currency-header #currency-relatives p:nth-of-type(odd) {
  font-size: 0.65em;
  margin-bottom: 0.2em;
}

#currency-header #currency-relatives p:nth-of-type(even) {
  font-size: 0.65em;
  margin-top: 0.5em;
  white-space: nowrap;
}

#currency-header .currency-link {
  font-size: 0.7em;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

#currency-header .currency-link:link {
  color: white;
}

#currency-header .currency-link:visited {
  color: white;
}

#currency-header .currency-link:hover {
  color: white;
  border-bottom: dotted 0.75px white;
}

#currency-header .currency-link:active {
  color: darkgreen;
}

#currency-nav {
  background: #215968;
  padding: 0em 1em;
  height: 2.6em;
  white-space: nowrap;
}

#currency-nav > p {
  font-family: Monotype Corsiva, Times New Roman;
  font-size: 1em;
  color: whitesmoke;
  text-decoration: none;
  display: inline-block;
  margin: 0em 0.5em;
  padding: 0.4em 1.2em;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#currency-nav > p.selected-view {
  background: #b4dcdc;
  color: black;
}

#currency-nav > p:not(.selected-view):hover {
  background: #90c2c2;
}

.country-link {
  font-size: 0.7em;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1em;
  border: dotted transparent 0.5px;
  white-space: nowrap;
}

.country-link:link {
  color: whitesmoke;
}

.country-link:visited {
  color: whitesmoke;
}

.country-link:hover > span {
  color: white;
  border-bottom: dotted whitesmoke 0.75px;
}

.country-link:active {
  color: grey;
}

hr {
  margin: 0;
}

#view-section {
  padding: 1em 2em;
  margin: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

.UNC-grade {
  background-color: green;
  color: whitesmoke;
}

.XF-grade {
  background-color: greenyellow;
  color: #464646;
}

.VF-grade {
  background-color: yellow;
  color: #464646;
}

.F-grade {
  background-color: orange;
  color: #464646;
}

.VG-grade {
  background-color: #785000;
  color: lightgrey;
}

.G-grade {
  background-color: #5a5000;
  color: lightgrey;
}

.P-grade {
  background-color: #3c3200;
  color: lightgrey;
}

.REP-grade {
  background-color: lightgray;
  color: #464646;
}

.none-grade {
  background-color: whitesmoke;
  color: black;
}

#grades-div {
  margin-top: 0em;
  padding: 1.2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Times New Roman, serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

#grades-div div {
  border: solid 1px lightgray;
  padding: 1em;
  background-color: ghostwhite;
}

#grades-div h3 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
}

#grades-div p {
  font-size: 0.8em;
  margin: 0;
  padding: 0.4em;
  min-width: 10em;
  text-align: center;
  cursor: help;
}

@media screen and (max-width: 800px) {
  #currency-nav {
    padding: 0em 0.85em;
    height: 2.21em;
  }
  #currency-nav > p {
    font-size: 0.85em;
    padding: 0.34em 1.02em;
  }
  #view-section {
    padding: 0.85em 1.7em;
  }
}

@media screen and (max-width: 400px) {
  #country-header {
    padding: 0.6em 1.4em;
  }
  #country-header #continent-div > img {
    width: 18.2px;
  }
  #country-header #continent-div > p {
    font-size: 0.5em;
  }
  #country-header #flag-div > a > img {
    height: 24.5px;
  }
  #country-header #country-data > a {
    font-size: 0.84em;
  }
  #currency-header {
    padding: 0.5em 1.4em;
  }
  #currency-header #currency-data > div > p:first-child {
    margin: 0.5em 0;
  }
  #currency-header #currency-symbol {
    font-size: 1.05em;
  }
  #currency-header #currency-data .name {
    font-size: 1.05em;
  }
  #currency-header #currency-data img {
    width: 0.84em;
    height: 0.84em;
  }
  #currency-header #currency-data > div:first-of-type > p:not(:first-of-type) {
    font-size: 0.6em;
  }
  #currency-header #currency-desc {
    font-size: 0.6em;
  }
  #currency-header #currency-relatives p:nth-of-type(odd) {
    font-size: 0.6em;
  }
  #currency-header #currency-relatives p:nth-of-type(even) {
    font-size: 0.6em;
  }
  #currency-header .currency-link {
    font-size: 0.6em;
  }
  #currency-nav {
    padding: 0em 0.7em;
    height: 1.82em;
  }
  #currency-nav > p {
    font-size: 0.7em;
    padding: 0.28em 0.84em;
  }
  #view-section {
    padding: 0.7em 1.4em;
  }
}
/*# sourceMappingURL=currency.css.map */