@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Berkshire+Swash&family=Source+Sans+Pro:wght@300&display=swap");
#country-header {
  font-family: Lucida sans, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#e1f0f0), to(#a0dcdc));
  background: linear-gradient(0deg, #e1f0f0, #a0dcdc);
  padding: 1em 2em 0.2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#country-header > div:first-of-type {
  margin-right: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#country-header > div:first-of-type > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#country-header > div:first-of-type > div:first-of-type #continent-div {
  margin-right: 0.5em;
}

#country-header > div:first-of-type > div:first-of-type #continent-div > img {
  display: block;
  width: 40px;
  margin: auto;
}

#country-header > div:first-of-type > div:first-of-type #continent-div > p {
  font-size: 0.7em;
  text-align: center;
  color: grey;
  margin: 0;
}

#country-header > div:first-of-type > div:first-of-type #flag-div > img {
  height: 52px;
  width: auto;
  border: solid 0.75px black;
  margin-right: 0.5em;
}

#country-header > div:first-of-type > div:first-of-type #country-data {
  color: black;
}

#country-header > div:first-of-type > div:first-of-type #country-data > p:first-of-type {
  margin: 0;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #141432;
}

#country-header > div:first-of-type > div:first-of-type #country-data > p:nth-of-type(2) {
  display: inline-block;
  margin: 0.5em 0;
  font-size: 0.9em;
  font-style: italic;
}

#country-header > div:first-of-type > div:first-of-type #country-data > p:nth-of-type(2) > img {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: top;
  margin-left: 0.5em;
  cursor: pointer;
}

#country-header > div:first-of-type > div:nth-of-type(2) {
  font-size: 0.7em;
  color: #323232;
  display: none;
}

#country-header > div:first-of-type #parent-country {
  display: none;
}

#country-header > div:first-of-type #parent-country > p {
  margin: 0.5em 0;
  font-size: 0.7em;
  color: black;
}

#country-header > div:first-of-type #parent-country > a {
  display: block;
  font-size: 0.7em;
}

#country-header > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#country-header > div:last-of-type > div {
  display: none;
  margin-left: 0.6em;
}

#country-header > div:last-of-type p {
  font-size: 0.6em;
  color: black;
  margin: 0;
  padding-bottom: 0.5em;
}

#country-header > div:last-of-type a {
  display: block;
  font-size: 0.6em;
  margin-bottom: 0.4em;
}

.country-link {
  text-decoration: none;
  font-weight: bold;
  margin-right: 1em;
  border: dotted transparent 0.5px;
  white-space: nowrap;
}

.country-link > img {
  height: 2em;
  width: auto;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  border-radius: 3px;
}

.country-link:link {
  color: black;
}

.country-link:visited {
  color: black;
}

.country-link:hover > span {
  color: black;
  border-bottom: dotted grey 0.75px;
}

.country-link:active {
  color: grey;
}

#country-nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#e1f0f0), to(#a0dcdc));
  background: linear-gradient(180deg, #e1f0f0, #a0dcdc);
  padding-left: 1em;
  height: 2.6em;
  white-space: nowrap;
}

#country-nav > p {
  font-family: Monotype Corsiva, Times New Roman;
  font-size: 1em;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 0.3em 0.5em;
  padding: 0.4em 1.2em;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#country-nav > p.selected-view {
  background: #2c5e5e;
  color: whitesmoke;
}

#country-nav > p:not(.selected-view):hover {
  background: #90c2c2;
}

hr {
  margin: 0;
}

#results-table {
  padding: 1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

@media screen and (max-width: 800px) {
  #country-header {
    padding: 0.85em 1.7em 0.2em 1.7em;
  }
  #country-header > div:first-of-type > div:first-of-type #continent-div > img {
    width: 34px;
  }
  #country-header > div:first-of-type > div:first-of-type #continent-div > p {
    font-size: 0.7em;
  }
  #country-header > div:first-of-type > div:first-of-type #flag-div > img {
    height: 44.2px;
  }
  #country-header > div:first-of-type > div:first-of-type #country-data > p:first-of-type {
    font-size: 1.275em;
  }
  #country-header > div:first-of-type > div:first-of-type #country-data > p:nth-of-type(2) {
    font-size: 0.765em;
  }
  #country-header > div:first-of-type > div:nth-of-type(2) {
    font-size: 0.7em;
  }
  #country-header > div:first-of-type #parent-country > p {
    font-size: 0.7em;
  }
  #country-header > div:first-of-type #parent-country > a {
    font-size: 0.7em;
  }
  .country-link > img {
    height: 1.7em;
  }
  #country-nav {
    padding-left: 0.85em;
    height: 2.21em;
  }
  #country-nav > p {
    font-size: 0.85em;
    padding: 0.34em 1.02em;
  }
}

@media screen and (max-width: 400px) {
  #country-header {
    padding: 0.7em 1.4em 0.2em 1.4em;
  }
  #country-header > div:first-of-type > div:first-of-type #continent-div > img {
    width: 28px;
  }
  #country-header > div:first-of-type > div:first-of-type #continent-div > p {
    font-size: 0.6em;
  }
  #country-header > div:first-of-type > div:first-of-type #flag-div > img {
    height: 36.4px;
  }
  #country-header > div:first-of-type > div:first-of-type #country-data > p:first-of-type {
    font-size: 1.05em;
  }
  #country-header > div:first-of-type > div:first-of-type #country-data > p:nth-of-type(2) {
    font-size: 0.63em;
  }
  #country-header > div:first-of-type > div:first-of-type #country-data > p:nth-of-type(2) > img {
    width: 1em;
    height: 1em;
  }
  #country-header > div:first-of-type > div:nth-of-type(2) {
    font-size: 0.6em;
  }
  #country-header > div:first-of-type #parent-country > p {
    font-size: 0.6em;
  }
  #country-header > div:first-of-type #parent-country > a {
    font-size: 0.6em;
  }
  .country-link > img {
    height: 1.4em;
  }
  #country-nav {
    padding-left: 0.7em;
  }
  #country-nav > p {
    font-size: 0.8em;
    margin: 0.21em 0.28em;
    padding: 0.28em 0.84em;
  }
  #results-table {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #results-table > p {
    font-size: 0.8em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}
/*# sourceMappingURL=country.css.map */