@mixin no-user-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.select-filter {
    display: inline-block;
    position: relative;
    &:focus {
        outline: none;
    }
    &>p {
        margin: 0.4em 0.2em;
        font-family: Times New Roman, serif;
        font-size: 0.95em;
        color: black;
        filter: opacity(70%);
        transition: 0.5s;
        &>span {
            padding: 0 0.2em;
        }
    }
    &.selected>p {
        filter: opacity(100%);
        font-weight: bold;
    }
    &.input-focus>p {
        filter: opacity(100%);
        &>span {
            border-bottom: 0.5px dotted gray;
        }
    }
    &>div.input-box {
        @include no-user-select;
        display: inline-block;
        border: 0.5px solid black;
        background-color: rgb(238, 236, 228);
        white-space: nowrap;
        transition: 0.5s;
        &>span {
            font-family: sans-serif;
            font-weight: bold;
            font-size: 0.7em;
            color: transparent;
            padding: 0.1em 0.3em;
            margin: 0.1em 0 0 0.4em;
            border: 0.5px dotted transparent;
            display: inline-block;
            vertical-align: text-top;
            @include no-user-select;
        }
        &>input {
            border: none;
            font-size: 1em;
            font-weight: bold;
            padding: 0.4em 0;
            min-width: 4em;
            background-color: transparent;
            &:focus {
                outline: none;
            }
        }
        &>div.drop-down-arrow {
            display: inline-block;
            margin: 0 0.5em;
            box-sizing: border-box;
            border-top: 0.6em solid lightgrey;
            border-left: 0.25em solid transparent;
            border-right: 0.25em solid transparent;
            width: 0.6em;
            vertical-align: middle;
            &:hover {
                border-top-color: rgb(0, 62, 0);
                cursor: pointer;
            }
        }
    }
    &.input-focus>div.input-box {
        background-color: white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
    &.selected>div.input-box {
        background-color: white;
        &>span {
            color: rgb(151, 151, 151);
            border-color: lightgray;
            &:hover {
                box-shadow: 1px 1px 2px gray;
                position: relative;
                top: -1px;
                left: -1px;
                cursor: pointer;
            }
        }
    }
    &>div.options-list {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        background-color: white;
        position: absolute;
        z-index: 1;
        display: none;
        margin: 1px;
        width: 98%;
        left: 0.5%;
        &>div {
            @include no-user-select;
            padding: 0.3em 1em;
            font-size: 0.8em;
            font-family: sans-serif;
            border-bottom: 0.5px dotted lightgrey;
            cursor: pointer;
            background-color: rgb(253, 253, 253);
            transition: 0.3s;
            &:hover {
                background-color: black;
                color: white;
            }
            &.selected {
                font-weight: bold;
                &::before {
                    content: "\00bb \20 \20";
                }
            }
        }
    }
}