.from-to-filter {
    &>p {
        margin: 0.4em 0.6em;
        font-family: Times New Roman, serif;
        color: black;
        filter: opacity(75%);
        transition: 0.2s;
        &>span {
            padding: 0 0.2em;
        }
    }
    &.input-focus>p {
        filter: opacity(100%);
        &>span {
            border-bottom: 0.5px dotted gray;
        }
    }
    &.filled-ok>p {
        filter: opacity(100%);
        font-weight: bold;
    }
    &.filled-ok .input-field>div {
        background-color: white;
    }
    &.filled-ok .input-field input {
        background-color: white;
        font-weight: bold;
        color: black;
    }
    &.not-valid>p {
        filter: opacity(75%);
        font-weight: bold;
    }
    &.not-valid .input-field>p {
        color: red;
    }
    &.not-valid .input-field>div {
        background-color: white;
    }
    &.not-valid .input-field input {
        background-color: white;
        font-weight: bold;
        color: red;
    }
}

.input-field {
    display: inline-block;
    white-space: nowrap;
    background-color: black;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
    transition: 0.5s;
    &>p {
        display: inline-block;
        font-family: Verdana, sans-serif;
        font-size: 0.55em;
        vertical-align: top;
        color: white;
        margin-top: 0.4em;
        margin-right: 0.1em;
        margin-left: 0.3em;
        text-align: right;
        min-width: 3.9em
    }
    &>div {
        display: inline-block;
        background-color: rgb(238, 236, 228);
        border: 0.5px solid black;
        padding: 1px 0;
    }
    & input {
        border: none;
        margin: 0 0.5em;
        width: 4em;
        height: 2em;
        background-color: rgb(238, 236, 228);
        &:focus {
            outline: none;
        }
    }
    &.input-focus {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        &>div {
            background-color: white;
        }
        & input {
            background-color: white;
            font-weight: normal;
            color: black;
        }
    }
}